body{
    background-color: black;
}
.clock{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 70px;
    font-family: fantasy;
    letter-spacing: 15px;
    transform: translateX(-50%) translateY(-50%);
}